*{  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
     font-family: "Courier New", monospace;
     /*background-color: #2b2d42;*/
     color:#eceada;
     background-image: linear-gradient(to bottom , rgba(53, 52, 55, 0.602), rgba(53, 52, 55, 0.602)), url(../images/concrete.avif);
     background-repeat: repeat;
     background-attachment: fixed;
     background-position: top;
  }
  
  /* Centre-align headings */
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  /* DESKTOP LAYOUT*/

/*navigation bar*/
 #navigation-bar{
  position:relative;
  height:auto;
  
}
.logo{
       width:20%;
       height: 200px;
}

#navigation-bar nav{
 display:inline;
 letter-spacing: 2px;
 position:absolute;
 top:10%;
 left:45%;   
 margin-left: 10px;

}
#navigation-bar a{
 padding:5px;
 display:inline-block;
}
#navigation-bar a:link , #navigation-bar a:visited{
 color:#eceada;
}

#navigation-bar a:active{
 color:#0a82a8;
}
/* statement*/
#statement{
 text-align: center;
 padding-right: 100px;
 padding-left: 100px;
 
}

#primary-stat , #secondary-stat{
 display:block;
 color:#0a82a8;
 letter-spacing: 8px;
 font-size: 2.8em;
 text-transform: uppercase;
 text-shadow:  2px 3px 2px black;
 font-family: 'Libre Bodoni', serif; 
 font-weight: 700;
 line-height: 130px;
}

/*primary statement animation*/
#primary-stat{
 animation-name:moveInRight;
 animation-duration: 3s;
 animation-timing-function: ease-in;
}

@keyframes moveInRight {

 0%{ opacity: 0%;
     transform: translateX(100px);
   }
 
  80%{ transform: translate(-20px);
     }

  100%{ opacity: 1;
        transform: translateX(0px);
     } 
}
/*secondary statement animation*/
#secondary-stat{
 animation-name:moveInLeft;
 animation-duration: 3s;
 animation-timing-function: ease-in;

}

@keyframes moveInLeft {

 0%{ opacity: 0%;
     transform: translateX(-100px);
   }
 
  80%{ transform: translate(20px);
   }

  100%{ opacity: 1;
        transform: translateX(0px);
      } 
}

/*third statement animation*/
#third-stat{
 margin: top 20px;
 line-height: 30px;;
 animation-name: fadeIn;
 animation-duration:3s;
 animation-timing-function: ease-in;
 font-size: 0.8em;
 font-weight: 700;
}
@keyframes fadeIn{
  0%{
      opacity: 0;    
  }
  50%{ opacity : 0;
      }

  100%{
     opacity: 1;
     }
}

/* FACILITIES SECTION*/
#facilities{
   width:80vw;

}
#tech-content{
  margin-top: 60px;
  font-size: 1em;
  text-align: center;
  width: 80vw;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 100px;
}
 
#weight-content ,#pool-content {
 
  margin-top: 45px;
  max-width: 40%;
  font-weight: bold;
}


#pool , #weight{
  max-width: 100%;
  height:auto;
  border-radius: 10px;
}

#gym-flex{
  margin-right:100px;
  margin-left: 100px;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  width: 100vw;
}
.fig-caption {
         
         margin-top: 15px;
         line-height: 20px;;
         font-size: 1em;
         letter-spacing: 1.5px;
         width: 100%;
         text-align: center;
         
}

/* CLASSES SECTION */
#classes h1{
  margin-bottom:10px;
}

#classes-button-container {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right:auto;
}
#classes-button-container button{
   margin: 10px;
}

.classes-button-style{
  margin-top:40px ;
  background-color: #0a82a8;
  width:200px;
  height:40px;
  border-radius: 50px;
  font-size:1.10em;
  text-transform: uppercase;
  cursor: pointer;
  border:none;
  box-shadow: 0 3px #2b2d42;
  color:#eceada
}
.classes-button-style:active{
   background-color: #0a82a8;
   box-shadow:0 1px #2b2d42; 
   transform: translateX(2px);
}

.video-container {
 position: relative;
  width: 800px;
  height: auto;
  margin-left: 60px;
  margin-right: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.video-container video {
  width: 100%;
  height: auto;
}

.scrolling-text {
  font-family: "Courier New", monospace;
  color: #ffffff;
  font-size: 100px;
  position: relative;
  height: 100px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scrollText 20s linear infinite;
  white-space: nowrap;
}

@keyframes scrollText {
  0% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(-700%);
  }
}


/* TRAINERS SECTION */
.column {
	margin-left: 20px;
	  float: left;
	  width: 16%;
	  padding: 10px;
}

.column img {
	width:100%;
  height:auto;
	opacity: 0.8; 
  	cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.text-fields {
  margin-top: 20px;
  display: none;
}

.text-field {
  position: relative;
}

/* Expanding image text */
#imgtext {
  left: 15px;
  color:#eceada;
  font-size: 1em;
}
#expandedImg{/*inline style from html*/
  width:22%;
  height:auto;
  
}
#trainerBio ,#expandedImg {/*inline style from html*/
  margin-left:10%;

}


.container {
/*      display: flex;  
      justify-content: center;
      align-items: center;   */
	  width:100%; 
	  float:both;
}

.container caption {	
	 text-align: left;
	 margin-top: 15px;
	 line-height: 20px;
	 font-size: 1em;
	 letter-spacing: 1.5px;
	 width: 100%;
}

/* OPENING HOURS */
hr{
  margin-top: 35px;
  margin-bottom: 35px;
}

#enquiry-opennow button{
  display: block;
   margin:auto;
}

#opening h3{
   line-height: 40px;
}
#opening h1{
  margin-bottom: 20px;
}


/* COFFEE SECTION */

.hover-effect {
      transition: transform 0.3s ease, filter 0.3s ease;
    }
 .hover-effect:hover {
      transform: scale(1.1);
      filter: brightness(110%);
    }

#coffee{
	   width:80vw;
	   margin:auto;
}
#coffee-content img{
  width:100%;
  height:auto;
}
#coffee-content figure{
       margin-left: 10px;
       margin-right: 10px;

}
#coffee-content figcaption{
  font-weight: bold;
  font-size: 1em;
}

#coffee-flex{
  /*margin-right:100px;
  margin-left: 100px;*/
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-around;
  align-content: center;
  margin: auto;
  width: 80vw;

}

/*CONTACT US SECTION*/
/*CONTACTUS FORM*/
#contactus{ 
  margin-top: 100px;
}

#contactus h2{
  font-size: 2em;
}

#contactus p{
  margin-top: 20px;
  font-size: 1em;
  font-weight: bold;;
}

form{
  height: 400px;
  width:40%;
  display:flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  font-family: 'Courier New', Courier, monospace;
}
 form label{
  display:none;
}
.data{
  margin-bottom:5px;
  height:10%;
  width:100%;
}
.data-text{
  width:100%;
  height:40%;
  padding:5px;
  font-size: 1em;
  
}
.data , .data-text{
  border-radius:10px;
  background-color: #eceada;
  border: 1px solid rgb(16, 15, 15);
  padding:5px;
  font-size: 1em;
}

#contactus-button{
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:space-around ;
  height:10%;
  margin-top:15px;
  
}
.contactus-send{
  width: 40%;
  border-radius:10px;
  font-size:1em;
  background-color: #0a82a8;
  color: #eceada;
  cursor: pointer;

}
/*FOOTER*/
.fa-solid{
  color: #0a82a8;
}
#footer-container{
  margin-top: 60px;;
  display:flex;
  flex-direction: row;
  width:100vw;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-top:solid 1px #eceada ;
  padding-top:20px;
  padding-bottom: 10px;
  
  
}

footer h4{
  text-align: left;
  padding-left: 10px;
  line-height: 25px;
  font-size: 1em;
  font-weight: 100;
  padding-left: 5px;
  
}

.fa {
  padding: 10px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

#social div{
  display: inline;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
#developer{
  background-color: #2b2d42;
  text-align: right;
  margin-top: 2px;
}

/*MEMBERSHIP SECTION*/
#membership{
  margin-top: 80px;

}
#membership h1{
   text-transform: uppercase;
}
#membership-container{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.membership-style{
     
     margin: 50px;
     width: 400px;
     height:300px;
     text-align: center;
     line-height: 40px;
}
.membership-style li{
     list-style-type: none;
     font-size: 1.em;
     letter-spacing: 1.5px;
     font-weight: bold;

}
.membership-style ul{
  margin-top: 10px;
}

.button-style{
  margin-top:40px ;
  background-color: #0a82a8;
  width:220px;
  height:40px;
  border-radius: 50px;
  font-size:1.10em;
  text-transform: uppercase;
  cursor: pointer;
  border:none;
  box-shadow: 0 3px #2b2d42;
  color:#eceada
}
.button-style:active{
   background-color: #0a82a8;
   box-shadow:0 1px #2b2d42; 
   transform: translateX(2px);
}
#enquiry-membership button{
  display: block;
   margin:auto;
}

/*MEMBERSHIP PAGE*/
#membership-slogan-container{
  margin-right:20px;
  margin-left:20px;
  height: auto;
  display:flex;
  flex-direction: row;
}
#slogan-image{
  width:50%;
  height: auto;
  border-radius: 5px;

}
#membership-slogan-container h3{
margin:auto;

}
#first-slogan-content{
 font-size: 2.6em;
 text-align:left;
 margin-top: auto;
 margin-bottom: auto;

}
#second-slogan-content{
  padding-top: 50px;
  font-size: 1.6em;;
}


.membership-page-container{
  margin: 50px 20px 20px 20px; 
}
.membership-page-style{
  list-style-type: disc;
     line-height: 30px;
     font-weight: 500;
     margin-left:30px;
     max-width: 75%px;
     

}
.membership-page-style .first-membership{
     font-size:1.5em;
     color: #0a82a8;
     text-shadow: 1px 1px  black;
           
}
.membership-page-style .second-membership{
  font-size:0.8em;
  font-weight:300      
}
.membership-page-style table{
  font-weight: 600;
  color:black;
}
.membership-page-style th{
   text-align:left;
   font-weight: 600;
} 
.membership-page-style td{
  text-align: end;
  font-weight: 600;
}
/*CLASSES PAGE*/
#timetable-title h2{
       font-size: 2.8em;
       font-weight: bold;
       text-transform: uppercase;
       background-color: #0a82a8;
}
#timetable-title h3{
  font-size: 1.8em;
  text-transform: uppercase;
  font-style: oblique;
  background-color: #2b2d42;
}

#timetable-external-container{
  width:80%;
  margin-left: auto;
  margin-right:auto;
  background-color: #eceada;

}


#timetable-title .first{
  color: rgb(225, 203, 59);

}


/*TIMETABLE*/
.timetable-day{
  border-collapse:collapse;
  margin:10px;
  border-radius: 3px;
  
}

.timetable-day tr{
 border-bottom: 1px solid black
}

.day , .hour , .activity{
  font-size: 1em;
  font-weight: 300;
  background-color: #2b2d42;
  
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  
}
.day{
   font-weight: bold;
   color:#0a82a8;
}
#timetable-container{
  width:100%;
  display:grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat( 2 , 1fr);
  grid-area: "monday tuesday wednesday"
             "thurday friday saturday";        

}
.monday{
  grid-area: monday ;
}
.tuesday{
  grid-area: tuesday ;
}
.wednesday{
  grid-area: wednesday ;
}
.thurday{
  grid-area: thursday ;
}
.friday{
  grid-area: friday ;
}
.saturday{
  grid-area: saturday ;
}


/* TABLET LAYOUT */
@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS rules for tablet devices */
 /*header*/

  /*statement*/
  #statement{
    padding-right: 80px;
    padding-left: 80px;
    }
   
   #primary-stat , #secondary-stat{
    letter-spacing: 4px;
    font-size: 1.8em;
    text-shadow:  2px 3px 2px black;
    line-height: 55px;
   }
   #third-stat{
    margin: top 20px;
    line-height: 8px;;
    font-size: 0.5em;
    font-weight: 700;
   }
    /*Facilities*/
   
    #tech-content{
      margin-top: 40px;
      font-size: 1em;
    }
     
    #weight-content{
      margin-top: 40px;
    }
    
    #pool-content{
      margin-top:40px;
      max-width:40%;
    }
    
    #gym-flex{
      margin-right:80px;   
    }
    .fig-caption { 
             margin-top: 7px;
             line-height: 20px;;
             font-size: 1em;
    }
  /*Classes*/
   
  #classes h3{
    font-size:1em;
    
  }
  .video-container {
    position: relative;
   width: 600px;
    height: auto;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .video-container video {
    width: 100%;
    height: auto;
  }
  
  .scrolling-text {
    color: #ffffff;/* to change*/
    font-size: 4em;/*cambiare em in desktop*/
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);/**/
   font-family: "Courier New", monospace;
  position: relative;
  height: 100px;
  animation: scrollText 30s linear infinite;
  white-space: nowrap;
  }
 
@keyframes scrollText {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-800%);
  }
}
 /*MEMBERSHIP PAGE*/
 #first-slogan-content{
  font-size: 1.6em;
  
 
 }
 #second-slogan-content{
   font-size: 0.9em;;


}

.membership-page-container{
  margin: 30px 20px 20px 20px; 
}
.membership-page-style{
     line-height: 23px;
     font-weight: 0.7em;
}

.membership-page-style .first-membership{
     font-size:1.2em;
    
           
}
.membership-page-style .second-membership{
  font-size:0.6em;
       
}
/*CONTACT US*/
#contactus{ 
  margin-top: 40px;
}

#contactus h2{
  font-size: 1.5em;
}

#contactus p{
  margin-top: 20px;
  font-size: 0.7em;
  font-weight: bold;;
}
form{
  height: 300px;
}
.data-text{
  font-size: 0.7em; 
}
.data , .data-text{
  padding:3px;
  font-size: 0.7em;
}
#contactus-button{
  margin-top:10px;
}
.contactus-send{
  font-size:0.7em;
}

/*FOOTER*/
.fa-solid{
  color: #0a82a8;
  
}

#footer-container{
  margin-top: 40px;;
  padding-top:10px;
  padding-bottom: 5px;
  
  
}

footer h4{
  text-align: left;
  padding-left: 10px;
  line-height: 20px;
  font-size: 0.6em;
  font-weight: 100;
  padding-left: 5px;
  
}

.fa {
  padding: 5px;
  font-size: 10px;
  width: 20px;
}

#developer{
  background-color: #2b2d42;
  text-align: right;
  margin-top: 2px;
  font-size: 0.7em;
}
/*COFFEE SHOP*/
#coffee-content figcaption ,#coffee-contente h3 {
  font-weight: bold;
  font-size: 1em;
}
/*TRAINERS SECTION*/
#trainers h1{
   margin-bottom:20px;
}
#trainer-content h3{
   margin-bottom: 15px;
}
#trainer-content h4{
  margin-bottom:30px;
}
/*OPENING HOURS*/
hr{
  margin-top: 25px;
  margin-bottom: 25px;
}
#opening h3{
   font-weight: 1.5em;
}

/*MEMBERSHIP SECTION*/
#membership{
  margin-top: 40px;
}
.membership-style{
     
  margin-bottom: 20px;
  line-height: 35px;
}

}
/* PHONE LAYOUT */
@media (max-width: 768px) {
  /* CSS rules for mobile devices */
  
.logo{
	  width: 150px;
	  height: 150px;
  }

#navigation-bar nav{
 display:inline;
 position:absolute;
 top:20%;
 left:35%;   
}

#primary-stat , #secondary-stat{
  margin: top 10px;
 letter-spacing: 1px;
 font-size: 1.5em;
 text-shadow:  1px 2px 1px black;
 line-height: 80px;
}
   
   #third-stat{
    margin: top 10px;
    line-height: 0px;
    font-size: 0.7em;
    font-weight: 500;
   }

/* statement*/
#statement{
 padding-right: 20px;
 padding-left: 20px;
 
}

   #tech-content{
  margin-top: 40px;
  width: 100vw;
  font-weight: bold;
  margin-left: 30px;
  margin-right: 30px;
    }
     
    #weight-content{
      margin-top: 10px;
    }
    
    #pool-content{
      margin-top:10px;
      max-width:40%;
    }
    
    #gym-flex{
      margin-right:40px;   
    }
	
	
.scrolling-text {
  font-family: "Courier New", monospace;
  color: #ffffff;
  font-size: 4em;
  position: relative;
  height: 100px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: scrollText 20s linear infinite;
  white-space: nowrap;
}

@keyframes scrollText {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-500%);
  }
}



	#coffee{
	   width:80vw;
	   margin-left: 10px;
	}
	#coffee-flex{
	  margin-right: 10px;
	  margin-left: 50px;
	 /* display:flex;   
	  flex-direction: row;
	  justify-content: space-around; 
	  align-content: center;
	  margin: auto;
	  width: 80vw;*/
	}
	
	#barista{
		width: 300px;
	}
	#pastry{
		width: 300px;
	}
	#coffeemenu{
		width: 300px;
	}
	#pastrymenu{
		width: 300px;
	}

}
